<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- NEHotspotConfigurationManager 사용 -->
	<key>com.apple.developer.networking.HotspotConfiguration</key>
	<true/>
	<!-- 연결 후 NEHotspotNetwork.fetchCurrent로 현재 SSID 확인 -->
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
</dict>
</plist>
